<!DOCTYPE html>
<html>
<head>
<title>Flash app</title>
<link href="static/page.css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <form method="POST">
      <input type="input" id="searchentry" name = "inptbox" placeholder="Ask what's the weather in...">
      <input type="submit" id="search-button" value="Search">
    </form>
    <div id="cards-cont">
      <div id= "weather-card"></div>
      <div id= "temp-card"></div>
      <div id= "clouds-card"></div>
      <div id= "otherdata-card"></div>
    </div>
  </div>
</body>
</html>
